*{
    padding: 0;
    margin: 0;
}

:root{
    --primary: #24d1d1;
    --secondary: #fff;
}

.main{
    display: flex;
}

.sidebar{
    width: 500px;
    background-color: var(--primary);
    height: 100vh;

}

.form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    
    gap: 15px;

    align-items: center;
    justify-content: center;
}

.form-subdiv{
    display: flex;
    width: 100%;
}

.label{
    width: 100%;
    font-weight: bolder;
    font-size: 1.25rem;
}

.input{
    width: 100%;
    max-height: 500px;
    height: 25px;
    border-radius: 10px;

    outline: none;
    border-style: none;

    padding: 0 10px;
}

#desc{
    height: 200px;
    padding: 10px 10px;
    text-indent: 0;
}

.select{
    width: 250px;
}

#deadline{
    width: 230px;
}

.submit-btn{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    border-style: none;
    border-radius: 10px;

    font-weight: bolder;
    font-size: 1.25rem;
}

.submit-btn:hover{
    cursor: pointer;
}

#content{
    display: flex;
    flex-direction: column;

    width: 80%;

    align-items: center;

    padding-top: 25px;
}

.task-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 15px;
    border-style: none;
    border-radius: 10px;

    box-shadow: 0px 0px 20px var(--primary);

    position:relative;
    z-index: 1;
    background-color: #fff;
}

.todo-container{
    width: 90%;
    display: flex;
    flex-direction: column;

    align-items: center;

    background-color: #fff;
}

.description-container{

    padding: 15px;
    margin-top: 0px;

    border-style: none;
    border-radius: 0 0 10px 10px;

    box-shadow: 0px 20px 30px var(--primary);
    width: 90%;

    z-index: 2;
    background-color: #f6fdfd;
}

.todo-container:hover{
    /* cursor: pointer; */
}

.todo-title{
    font-weight: bolder;
    font-size: 1.25rem;

    width: 100%;
}

.todo-title:hover{
    cursor: pointer;
}

.todo-priority{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.todo-priority:hover{
    cursor: pointer;
}

.red{
    background-color: red;
}

.orange{
    background-color: orange;
}

.yellow{
    background-color: yellow;
}

.todo-subdiv{
    display: flex;
    gap: 30px;

    font-size: 1.1rem;
}

.todo-subdiv > *{
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: black;
    padding-left: 20px;
}

.priority-subdiv{
    display: flex;
    gap: 10px;

    align-items: center;
}

.deadline-subdiv{
    display: flex;
    gap: 10px;

    align-items: center;
}

.actions-subdiv{
    display: flex;
    gap: 10px;
}

.checkmark{
    color: green;
}

.delete{
    color: orangered;
}

.checkmark:hover{
    cursor: pointer;
}

.delete:hover{
    cursor: pointer;
}